@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/*caratteristiche bottone*/
h1{
    position: relative;
    color: #94af00; /*color of the login*/
    font-weight: 900;
    font-size: 1.6em;
    text-transform: uppercase;
    margin-bottom: 3%;
    border-bottom: 3px solid  #94af00; /*color of the underline login*/
    display: inline-block;
    letter-spacing: 1px;
}

a{
    color: #94af00;
    text-decoration: none;
}
a:hover, a:active, a:focus{
    color: #044a48;
}

button{
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 15px;
}

button:before{
    content: '';
    background: linear-gradient(45deg, #94af00, #0b8980, #94af00);
    position: relative;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 15px;
}

button:active{
    color: #000
}

button:active:after{
    background: transparent;
}

button:hover:before{
    opacity: 1;
}

button:after{
    z-index: -1;
    content: '';
    position: relative;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 15px;
}

.biografia-p{
    color: #94af00;
    cursor: pointer;
}

.dettagliProfilo{
    padding: 5% 10%;
    /* width: 100%;
    height: fit-content; */
}

.fotoProfiloProfile{
    float: left;
    position: relative;
    width: 16em;
    height: 16em;
    border-radius: 50%;
    object-fit: cover;
}

.dataProfilo{
    position: relative;
    margin-left: 25%;
    height: fit-content;
    max-width: 80%;
    width: 100%;
}

.dettagliProfilo h1{
    font-size: 2em;
}

.followposts{
    display: flex;
    position: relative;
    margin-top: 3%;
    justify-content: space-around;
    width: 700px;
    height: fit-content;
}

.postsCount, .followers, .following{
    width: 12.5em;
    max-width: 12.5em;
    height: fit-content;
    font-size: 1.1em;
    font-weight: 400;
    color: #404040;
}

.postsCount{
    margin-left: -14.5%;
}

.followposts span, .followposts .spanText{
    color: #94af00;
    font-size: 1.1em;
    margin: 0 auto;
    display: table;
    margin-top: -10%;
}

.followposts .spanText{
    color: #404040;
}

.biografiaBox{
    margin-top: 2%;
    position: relative;
    width: 100%;
    height: fit-content;
}

.biografiaProfilo{
    font-size: 1.1em;
    font-weight: 400;
}

.followModify{
    margin-top: 5%;
    position: relative;
    width: 65%;
    height: fit-content;
}

.hr-profilo{
    width: 100%;
    border: 0;
    height: 2px;
    margin-top: 7%;
    background: #404040;
}

.postsProfile{
    width: 100%;
    background-color: white;
    border-radius: 5px;
    position: absolute;
    padding: 0% 8%;
}

.postsProfileInner{
    justify-content: space-around;
    width: 100%;
}

.noPost{
    color: #404040;
    font-size: 1.8em;
}

.descrizionePost{
    margin-top: 2%;
}

.descrizionePost p{
    margin-top: 3%;
    color: #404040;
    font-size: 1em;
    margin-bottom: 2%;
    display: block;
}

.postBox{
    margin-top: 5%;
    width: 350px;
    height: 400px;
    margin-bottom: 5%;
    margin-left: 2%;
    background-color: white;
    border-radius: 5px;
    position: relative;
    display: inline-block;
}

.fotoPost{
    width: 350px;
    height: 350px;
    border-radius: 4px;
    margin-bottom: 1%;
    cursor: pointer;
    object-fit: cover;
}

.modalPost{
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border-radius: 10px;
    z-index: 2;
    background-color: white;
    width: 1000px;
    height: 500px;
}

.modalPost.active{
    transform: translate(-50%, -50%) scale(1);
}

.modalPost .chiudiModal{
    position: absolute;
    right: 2%;
    cursor: pointer;
    font-size: 1.5em;
    font-weight: 500;
    color: #404040;
    border: none;
    outline: none;
    background: none;
    width: fit-content;
    height: fit-content;
}

.modalPostBody{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
}

.overlay{
    position: fixed;
    transition: 200ms ease-in-out;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    pointer-events: none;
}

.overlay.active{
    pointer-events: all;
    opacity: 1;
}

.imgPost{
    width: 50%;
    height: 100%;
    object-fit: cover;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.postData{
    width: 45%;
    height: 100%;
    margin: 0 5%;
    overflow: scroll;
}

.postData::-webkit-scrollbar{
    display: none;
}

.headerPostData{
    margin-top: 7%;
    display: table;
}

.headerPostData h1{
    font-size: 1.4em;
    font-weight: 500;
}

.fotoProfiloModal{
    width: 4em;
    height: 4em;
    border-radius: 50%;
    object-fit: cover;
    float: left;
    margin-right: 5%;
    margin-top: 5%;
}

.dataPost{
    color: #8c8a8a;
    font-size: 0.9em;
}

.fotoLike{
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    margin: 3% 0;
    display: inline-block;
    cursor: pointer;
}

.likePost{
    display: inline-block;
    margin-top: 1em;
}

.descrizioneModalPost p{
    margin-top: 2%;
    color: #404040;
    font-size: 1em;
    margin-bottom: 2%;
    display: block;
    font-weight: 400;
}

.postData textarea{
    width: 100%;
    border: 0;
    outline: 0;
    resize: none;
    color: #404040;
    border-bottom: 1px solid #404040;
    background: transparent;
    margin-top: 1%;
}

.btnAggiungiCommento{
    margin-bottom: 3%;
}

.commentiBox{
    width: 100%;
    margin-top: 2%;
}

.fotoProfiloCommento{
    position: relative;
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    float: left;
}

.commentoDettagli{
    margin-left: 18%;
    height: fit-content;
}

.commento{
    margin-top: 3%;
    height: fit-content;
}

.commentoDettagli p{
    margin-bottom: .5%;
}

.commento span{
    color: #404040;
    font-size: 0.9em;
    font-weight: 400;
    width: fit-content;
    max-width: 60%;
}

.commento hr{
    margin-top: 5%;
}


@media screen and (max-width: 768px){  
    
    .fotoProfiloProfile{
        float: left;
        position: relative;
        width: 7em;
        height: 7em;
        border-radius: 50%;
        object-fit: cover;
    }

    
}